<!DOCTYPE html>
<html>
<head>
<style>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  /*border: 3px solid green;*/ 
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;}
</style>
</head>
<body>

<div class="center">
	 <form action="/copycase" method="post">
  <button class="button button1">Check for Copy case</button>
   </form>
</div>
<div class="center">
	
	<form action="/assmentupload" method="post">
  <button class="button button1">Check Assignment fraud</button>
</form>
</div>


</body>
</html>
